*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}
body{
    height: 100vh; 
    font-family:"Work Sans";
    background: var(--Light-pink);
    position: absolute;
}
header img{
    width: 100%;
    object-fit: cover;
    
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    background: var(--White);
    padding: 25px;
    border-radius: 25px;
    position: relative;
    bottom: 100px;

}
.head {
    display: flex;
    font-size: 1.8rem;
    width: 200px;
    justify-content: space-between;
}
.container{
    border-bottom: 2px solid var(--Light-pink);
    margin: 20px;
    padding: 10px;

}
.faq div h3{
    color: var(--Dark-purple);
    font-weight: 700;
    margin-bottom: 10px;
    margin: 10px 0;
}
.faq div p{
    color: var(--Grayish-purple);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 10px;
 
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
}
.title img{
    cursor: pointer;
}
.hidden{
    display: none;
}
.last {
    border-bottom: none;
}